{:deps {:aliases [:frontend]}
 :dev-http {8000 "resources/public"}
 :js-options {:js-package-dirs ["resources/public/node_modules"]}
 :builds {:frontend
          {:target :browser
           :modules {:main {:init-fn playground.core/init}}
           :output-dir "resources/public/js/compiled"
           :asset-path "/js/compiled"
           :devtools {:preloads [devtools.preload]}}}}
